django>=5.2,<6.0
django-cors-headers
djangorestframework
djangorestframework-simplejwt
pillow
psycopg2-binary
PyJWT
django-environ
sqlparse
gunicorn
drf-spectacular
celery
redis
django-storages[s3]
boto3
django-cloudinary-storage
resend
sentry-sdk[django]
django-split-settings
pytest
pytest-django
pytest-cov
model-bakery
ruff
